<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <form action="/places" method="POST">
            <label for="cityName">Enter city name</label>
            <input id="cityName" name="cityName" type="text">
            <label for="stayLength">Enter stay length</label>
            <input id="stayLength" name="stayLength" type="text">
            <label for="journalEntry">Put in a journal entry</label>
            <input id="journalEntry" name="journalEntry" type="text">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>