<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <Title>Places I've Been</Title>
    </head>
    <body>
        <h1>Place details:</h1>
        <h2>@Model.CityName</h2>
        <h3>@Model.StayLength</h3>
        <p>@Model.JournalEntry</p>
        <a href="/places/new">Add another place</a>
        <a href="/places">View all places</a>
    </body>
</html>